// * * POrtifólio Christiano Borja v.1.1 (http://christianoborja.github.io/)
//  * Copyright 2000-2016*/
// Variaveis
$navBarLink: #dac013;
$web: #1a699e;
$app: #3aa129;
$cinza: #555555;
$cinzaDark: #333333;